!!!
!= "<html>"
%head
  %title= $title

  %link{:rel => "shortcut icon", :type => "image/x-icon", :href => url_for("favicon.ico")}
  != \Pages\PageRenderer::includeStylesheets()
  != \Pages\PageRenderer::includeJavascripts()

!= "<body>"

!= \Pages\PageRenderer::requireTemplate("navigation");

!= "<div class=\"content\">"
